{% extends "app/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

    <h1>Este es el título del Inicio que cambio</h1>
    <br>
    <br>    

    <h3>Podes buscar un puesto:</h3>    
    
    <form action="/app/buscar/" method="GET">

        <input type="number" name="camada" id="camada">
        <input type="text" name="puesto">
        <input type="submit" value="Buscar">

    </form>

    

    {% if empleados %}

    <p>Estamos buscando el: {{puesto}}</p>

    <ul>
	{% for empleado in empleados %}
		<li> {{empleado.puesto}} </li>
		<li> {{empelado.num_empleado}} </li>
	{% endfor %}

    </ul>
   
    {% endif %}

{% endblock %}